node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

.env
.env.local
.env.development
.env.production

!.env.example
!.env.local.example
!.env.development.example
!.env.production.example